h1{
    color:black;
    font-family:cursive;
    text-decoration:underline;
    
    
}
th{
    color:aliceblue;
    font-family:Helvetica,sans-serif;
    font-weight:800;
    background-color:darkgreen;
    border-width:medium;
    border-color:black;
}




table{
    border-collapse:collapse;
    border-color:chartreuse;
    font-family:sans-serif;
    border-style:solid;
    background-color:black;
    color:chartreuse;
}
.gallery img{
    width:19%;
    height:30%;
}
background-color{
    
}